label {
    display: block;
    margin-top: 10px;
}

input  {
    display: block;
    margin-bottom: 10px;
}

form:invalid {
    border: 5px solid #ffdddd;
}

form:valid {
    border: 5px solid #ddffdd;
}

input[type="submit"] {
    background-color: buttonface;
}
input:invalid {
    background-color: #ffdddd;
}
input:valid {
    background-color: #ddffdd;
}